@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Common Styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

/* By default 1rem == 16px  */
html {
  font-size: 62.5%; /* Now 1rem == 10px */
}

:root {
  --primary-color: #6edae6;
  --white-color: #fff;
  --black-color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of Common Styles  */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  clip-path: polygon(100% 0, 100% 95%, 40% 100%, 0 100%, 0 0);
  position: relative;
}

/* Logo  */
.logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.logo i {
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.8);
}
/* End of Logo  */

/* Navbar  */
.navbar {
  position: absolute;
  top: 3rem;
  right: 8%;
}

.navbar-link {
  font-size: 2rem;
  display: inline-block;
  margin: 0 2.8rem;
  color: var(--black-color);
  transition: transform 0.5s;
}

.navbar-link:hover {
  transform: scale(1.3);
}
/* End of Navbar  */

/* Cube */
.cube-wrapper {
  perspective: 100rem;
}

.cube {
  width: 25rem;
  height: 45rem;
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(20deg) rotateZ(0);
  position: relative;
  top: -2rem;
  transition: transform 0.5s;
}

.front-side,
.back-side {
  width: 100%;
  height: 100%;
  background-color: #fee;
  position: absolute;
  transform-style: preserve-3d;
  box-shadow: inset 0.1rem 0.1rem 0.1rem #ddd, inset -0.1rem -0.1rem 0.1rem #ddd;
}

.front-side {
  padding: 2.5rem;
  transform: translateZ(5rem);
}

.front-side::before,
.front-side::after {
  content: "";
  width: 100%;
  height: 10rem;
  background-color: #fee;
  position: absolute;
  box-shadow: inset 0.1rem 0.1rem 0.1rem #ddd, inset -0.1rem -0.1rem 0.1rem #ddd;
}

.front-side::before {
  top: 0;
  left: 0;
  transform: rotateX(-90deg);
  transform-origin: top;
}

.front-side::after {
  bottom: 0;
  left: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.front-side img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back-side {
  transform: translateZ(-5rem);
}

.back-side::before,
.back-side::after {
  content: "iPhone";
  width: 10rem;
  height: 100%;
  background-color: #fee;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  color: #ec1919;
  box-shadow: inset 0.1rem 0.1rem 0.1rem #ddd, inset -0.1rem -0.1rem 0.1rem #ddd;
}

.back-side::before {
  top: 0;
  left: 0;
  transform: rotateY(-90deg);
  transform-origin: left;
}

.back-side::after {
  top: 0;
  right: 0;
  transform: rotateY(90deg);
  transform-origin: right;
}

.back-side i {
  font-size: 12rem;
  color: var(--primary-color);
  text-shadow: 0.1rem 0.1rem 0.2rem #aaa, -0.1rem -0.1rem 0.2rem #aaa;
  transform: rotateY(180deg);
}

/* End of Cube */

/* Banner  */
.section-1-banner {
  flex-direction: column;
}

.section-1-banner h1 {
  font-size: 8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.section-1-banner p {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 6rem 0 4rem 0;
}

.section-1-banner span {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.section-1-banner button {
  padding: 1.8rem 3.8rem;
  font-size: 1.8rem;
  background-color: var(--black-color);
  color: var(--primary-color);
  font-weight: 400;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    20% 95%,
    0 100%,
    0 0,
    23% 5%
  );
  transition: clip-path 0.5s;
}

.section-1-banner button:hover {
  clip-path: polygon(
    40% 15%,
    77% 15%,
    100% 10%,
    100% 90%,
    75% 85%,
    40% 85%,
    30% 100%,
    0 50%,
    0 50%,
    30% 0
  );
}
/* End of Banner  */

/* Slideshow */
.slideshow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slideshow div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 5s;
}

.slideshow div.change {
  opacity: 1;
}
/* End of Slideshow */
/* End of Section 1 */
